.header {
    background-image: url(./img/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 23px;
}

.hsection * {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 218.182% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 64px;
}

.hsection a {
    margin-right: 32px;
}

.hsection1 {
    height: 784px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hsection1 h1 {
    width: 838px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 57px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.48px; /* 106.105% */
}

.hsection1 h3 {
    color: #C3BAB1;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.hsection1 div {
    margin-bottom: 116px;
    display: flex;
}

.hsection1 button:first-of-type {
    width: 218px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #7837F3;
    background: #7837F3;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.hsection1 button:nth-of-type(2) {
    width: 170px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(228, 216, 204, 0.50);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 298px;
    
}

.section2 {
    background-color:#E7DFD8;
    display: flex;
    justify-content: space-evenly;
    height: 486px;
    top: 784px;
}

.section2 img:only-of-type {
    margin-top: 93px;
    width: 539px;
    height: 283px;
    flex-shrink: 0;
}

.section2 h2 {
    margin-top: 76px;
    width: 507px;
    color: #101010;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 107.407% */
}

.section2 p {
    width: 452px;
    color: #101010;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.section3 {
    background-color:#E7DFD8;
    display: flex;
    justify-content: space-evenly;
    padding-top: 124px;
}

.imgsec3 {
    width: 518px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 12px;
}

.section3 p:nth-child(1) {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #B99FEA;
    color: #101010;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 63.158% */
    text-align: center;
}

.section3 p:nth-child(2) {
    width: 225px;
    color: #101010;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 189.474% */
    margin-left: 90px;
    margin-top: -90px;
}

.section3 p:nth-child(3) {
    width: 459px;
    color: #101010;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.632px; /* 130.377% */
    letter-spacing: 1px;
}

.section3 p:nth-child(4) {
    color: black;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5px;
}

.rectangle {
    margin-bottom: 45px;
}

.section3 p:last-child {
    width: 494px;
    color: #101010;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.08px; /* 157.714% */
}

.section4 {
    background-color: #E7DFD8;
    display: flex;
    justify-content: space-evenly;
    padding-top: 124px;
}

.section4 p:nth-child(1) {
    color: #101010;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    line-height: 75px;
    border-radius: 100px;
    background: #EBA789;
    width: 74px;
    height: 74px;
}

.section4 p:nth-child(2){
    width: 260px;
    color: #101010;
    font-size: 19px;
    font-family: Inter;
    font-style: normal;
    line-height: 36px;
    margin-left: 90px;
    margin-top: -90px;
}

.section4 p:nth-child(3) {
    width: 490px;
    color: #101010;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.632px; /* 130.377% */
    letter-spacing: 1px;
}

.section4 p:nth-child(4) {
    color: #101010;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5px;
}

.section4 .img {
    width: 518px;
    height: 500px;
    flex-shrink: 0;
}

.section4 p:last-child {
    width: 495px;
    color: #101010;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.08px; /* 157.714% */
}

.section5 {
    background-color: #E7DFD8;
    display: flex;
    justify-content: space-evenly;
    padding-top: 124px;
}

.section5 img:first-child {
    width: 518px;
    height: 500px;
    flex-shrink: 0;
}

.section5 p:nth-child(1) {
    width: 74px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #96DBC6;
    color: #101010;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; /* 63.158% */
}

.section5 p:nth-child(2) {
    width: 220px    ;
    color: #101010;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 189.474% */
    margin-left: 90px;
    margin-top: -90px;
}

.section5 p:nth-child(3) {
    width: 491px;
    color: #101010;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.632px; /* 130.377% */
    letter-spacing: 1px;
}

.section5 p:nth-child(4) {
    color: #101010;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 250% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5px;
}

.section5 p:last-child {
    width: 485px;
    color: #101010;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.08px; /* 147.2% */
}

.section6 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 116px;
    margin-bottom: 112px;
}

.section6 * {
    display: flex;
}

.section6 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 img:first-of-type {
    width: 72px;
    height: 62px;
    flex-shrink: 0;
}

.section6 img:nth-child(3) {
    width: 73px;
    height: 73px;
    flex-shrink: 0;
}

.section6 img:last-child {
    width: 140px;
    height: 37px;
    flex-shrink: 0;
}

.section6 p:first-of-type {
    width: 489px;
    color: #E4D8CC;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.section6 p:nth-last-child(2) {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.section6 p:last-child {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.section6 p:nth-child(2) { /*second quote */
    width: 409px;
    color: #E4D8CC;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 139.13% */
}

.section7 {
    background-color:#101010;
    display: flex;
    justify-content: space-evenly;
}

.section7 * {
    display: flex;
    align-content: space-evenly;
}

.section7 p:only-of-type {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.632px; /* 126.756% */
    letter-spacing: 1px;
}

.section7 a {
    color: #B99FEA;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.section7 div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section8 {
    background-image: url(./img/imagesec8.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 139px;
    padding-bottom: 87px;
    padding-left: 64px;
}

.section8 p:first-child {
    width: 151px;
    color: #C3BAB1;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

.section8 p:nth-child(2) {
    width: 580px;
    color: #E7DFD8;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 112.5% */
}

.section8 p:nth-child(3) {
    width: 270px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section8 .line {
    background-color: #E4D8CC;
    width: 271px;
    height: 1px;
}

.footer {
    background: #101010;
    display: flex;
    flex-direction: column;
    height: 626px;
}

.fsection1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 67px;
    margin-top: 78px;
}

.fsection1 div:last-of-type {
    margin-left: 42px;
}

.fsection1 div:first-of-type p:only-of-type {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 104.348% */
}

.fbutton1 {
    width: 215px;
    height: 42px;
    border-radius: 100px;
    border: 2px solid #7837F3;
    background: #7837F3;
    color: #FFFAF5;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px; /* 150% */
}

.fhsection1 div:last-of-type p:only-of-type {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 104.348% */
}

.fbutton2 {
    width: 251px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #E4D8CC;
    background: #101010;
    color: #E4D8CC;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.footer div a {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.16px; /* 1% */
    text-decoration: none;
}

.footer div p {
    color: #E4D8CC;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 80% */
}

.fsection2 {
    display: flex;
    justify-content: space-between;
}

.fsection2-description {
    display: flex;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.fsection2-links > a {
    margin-top: 48px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.fsection2-links > p {
    margin-top: 86px;
    color: #E4D8CC;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.fsection2-links {
    margin-left: 67px;
}

/* .fsection2 {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.fsection2 div:first-of-type * {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.fsection2 button {
    text-decoration: none;
}

.fsection2 div:last-of-type {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 72px;
}

.fsection2 img:only-of-type {
    width: 60px;
    height: 55px;
}

.fsection2 p:last-of-type {
    color: #E4D8CC;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
} */

.fsection3 {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.f3div1 {
    width: 1147px;
    height: 1px;
    background: rgba(228, 216, 204, 0.16);
    margin: 0 auto;
}

.f3div2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 71px;
    margin-right: 63px;
}

.fsection3 img {
    width: 24px;
    height: 24px;
}